/DaoVietAnh.Asm2.Repo/bin/
/DaoVietAnh.Asm2.Repo/obj/
/DaoVietAnh.Asm2.Web/.vs/
/DaoVietAnh.Asm2.Web/bin/
/DaoVietAnh.Asm2.Web/obj/
/DaoVietAnh.Asm2.Web/appsettings.Development.json
/DaoVietAnh.Asm2.Web/appsettings.json


