@page
@using Microsoft.AspNetCore.Components
@model RegisterModel

<div class="container margin-top-from-navbar">
    <div class="text-lg-start">
        <h1 class="display-4 text-center">Register</h1>
        <div class="fw-bolder text-center">Enter your account details here</div>
        <div class="mt-5 d-flex align-items-center justify-content-center">
            <form method="post">

                <div class="form-group row mt-2">
                    <div class="col-4">
                        <label class="fw-bold">Name</label>
                    </div>
                    <div class="col-8">
                        <input class=" form-control form-rounded" type="text"
                               asp-for="@Model.Name" />
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <div class="col-4">
                        <label class="fw-bold">Username</label>
                    </div>
                    <div class="col-8">
                        <input class=" form-control form-rounded" type="text"
                               asp-for="@Model.Username" />
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <div class="col-4">
                        <label class="fw-bold">Password</label>
                    </div>
                    <div class="col-8">
                        <input class=" form-control form-rounded" type="password"
                               asp-for="@Model.Password" />
                    </div>
                </div>

                <div class="form-group row mt-2">
                    <button class="btn btn-primary float-right" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="popup" style="display:none;">
    <p>@Model.PopupMsg</p>
</div>

<script>
    // JavaScript function to show the popup
    function showPopup() {
        document.getElementById('popup').style.display = 'block';
    }
</script>
<script>
    // Call the showPopup function when ShowPopup is true
    @if (Model.ShowPopup)
    {
        @:showPopup();
    }
</script>
